$background-color: #3f3e3e;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
body {
  background-color: $background-color;

  .content {
    color: white;
    font-size: 27px;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 5% 10%;

    .ja {
      width: 550px;
      border-radius: 100%;
      float: right;
      margin: 0px 0px 0px 50px;
    }
  }
}